{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Delete Course</title>
    <link rel="stylesheet" href="{% static 'css/courses/delete_course.css' %}">

</head>
<body>
    <h1>Delete Course</h1>

    <div class="confirmation-container">
        <p class="confirmation-message">Are you sure you want to delete the course "{{ course.title }}"?</p>
        <div class="confirmation-buttons">
            <form action="{% url 'delete_course' course.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Yes</button>
            </form>
            <a href="{% url 'course_list' %}"><button>No</button></a>
        </div>
    </div>
</body>
</html>
